{%load static%}
<div class="first-session">
    <div class="container-fruits-images">
        <img src="{%static 'image/app-structure/personalized/fruits/apple.png'%}" alt="apple">
        <img src="{%static 'image/app-structure/personalized/fruits/banana.png'%}" alt="banana">
        <img src="{%static 'image/app-structure/personalized/fruits/cherry.png'%}" alt="cherry">
        <img src="{%static 'image/app-structure/personalized/fruits/grape.png'%}" alt="grape">
        <img src="{%static 'image/app-structure/personalized/fruits/mango.png'%}" alt="mango">
        <img src="{%static 'image/app-structure/personalized/fruits/orange.png'%}" alt="orange">
        <img src="{%static 'image/app-structure/personalized/fruits/pear.png'%}" alt="pear">
        <img src="{%static 'image/app-structure/personalized/fruits/pineapple.png'%}" alt="pineapple">
        <img src="{%static 'image/app-structure/personalized/fruits/strawberry.png'%}" alt="strawberry">
        <img src="{%static 'image/app-structure/personalized/fruits/watermelon.png'%}" alt="watermelon">
        <img src="{%static 'image/app-structure/personalized/fruits/peach.png'%}" alt="peach">
        <img src="{%static 'image/app-structure/personalized/fruits/grape.png'%}" alt="grape">
    </div>
    <div class="apresentation">
        <div class="dummy-fill"></div>
        <div class="apresentation-container">
            <div class="title-game">
                <h1>{{app_name}}</h1>
            </div>
            <div class="btn-to-play btn-to-play-first-color">
                <div>JOGAR AGORA</div>
            </div>
            <div class="description-game">
                <p class="footer-session-text footer-first-session-text footer-first-1 bolded">Rodadas de boas vindas disponível</p>
            </div>
        </div>
    </div>
</div>
<div class="second-session">
    <div class="game-info">
        <div class="card-apresentation-game">
            <div class="card-apresentation-game-container">
                <div class="container-img-card-apresentation">
                    <div class="container-img-card-apresentation-container">
                        <img class="ninja-people" src="{%static 'image/app-structure/personalized/html/ninja-3.png'%}" alt="Ninja People">
                        <div class="snowfall"></div>
                    </div>
                </div>
                <div class="card-apresentation-game-title">
                    <h2>Olá Visitante</h2>
                </div>
                <div class="card-apresentation-game-description">
                    <p>
                        Bem-vindo ao mundo suculento e lucrativo de {{app_name}}, o joguinho que vai deixar você com água na boca e o bolso cheio! Prepare-se para uma experiência emocionante, onde suas habilidades de corte serão testadas e sua conta bancária pode crescer a cada fatia. Você está pronto para se tornar um ninja? Então vamos lá!
                    </p>
                    <div class="btn-to-play btn-to-play-second-clor">
                        <div>JOGAR AGORA</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dummy-aleatory-messsage">
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
    width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
    preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
        fill="#000000" stroke="none">
            <path d="M452 4667 c-13 -14 -22 -36 -22 -54 0 -33 712 -1589 752 -1643 37
            -51 107 -89 194 -105 170 -33 264 -140 264 -299 0 -79 -31 -147 -94 -204 -52
            -48 -74 -58 -162 -77 -107 -23 -178 -73 -220 -155 -94 -185 -734 -1600 -734
            -1622 0 -38 40 -78 78 -78 17 0 360 152 823 366 829 381 837 385 890 471 11
            17 26 66 34 107 18 92 41 139 92 188 57 55 115 78 200 78 61 0 80 -5 135 -33
            84 -43 131 -111 153 -217 17 -84 53 -150 105 -191 49 -39 1636 -769 1672 -769
            38 0 78 40 78 79 0 18 -146 345 -367 826 -384 834 -392 848 -472 890 -17 8
            -66 23 -108 31 -91 19 -120 32 -174 81 -59 53 -81 104 -87 194 -4 66 -1 84 20
            131 45 96 115 149 233 173 83 18 135 46 178 95 42 50 777 1641 777 1683 0 37
            -41 77 -79 77 -30 0 -1563 -699 -1632 -745 -49 -32 -96 -106 -110 -173 -24
            -118 -40 -155 -93 -207 -60 -61 -121 -85 -210 -85 -141 0 -249 96 -281 250
            -18 84 -53 150 -105 191 -53 43 -1634 769 -1674 769 -21 0 -40 -8 -54 -23z
            m2179 -1687 c135 -26 255 -116 310 -234 62 -133 60 -248 -6 -383 -60 -122
            -169 -200 -313 -225 -135 -23 -283 30 -378 135 -153 170 -147 426 15 587 61
            61 127 97 211 116 70 16 95 16 161 4z"/>
            <path d="M2504 2811 c-97 -25 -175 -103 -194 -195 -34 -166 82 -309 251 -310
            205 -1 323 228 206 401 -54 79 -174 127 -263 104z"/>
        </g>
    </svg>
    <span>Mais de 120 usuários simultâneos diariamente</span>
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
    width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
    preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
        fill="#000000" stroke="none">
            <path d="M452 4667 c-13 -14 -22 -36 -22 -54 0 -33 712 -1589 752 -1643 37
            -51 107 -89 194 -105 170 -33 264 -140 264 -299 0 -79 -31 -147 -94 -204 -52
            -48 -74 -58 -162 -77 -107 -23 -178 -73 -220 -155 -94 -185 -734 -1600 -734
            -1622 0 -38 40 -78 78 -78 17 0 360 152 823 366 829 381 837 385 890 471 11
            17 26 66 34 107 18 92 41 139 92 188 57 55 115 78 200 78 61 0 80 -5 135 -33
            84 -43 131 -111 153 -217 17 -84 53 -150 105 -191 49 -39 1636 -769 1672 -769
            38 0 78 40 78 79 0 18 -146 345 -367 826 -384 834 -392 848 -472 890 -17 8
            -66 23 -108 31 -91 19 -120 32 -174 81 -59 53 -81 104 -87 194 -4 66 -1 84 20
            131 45 96 115 149 233 173 83 18 135 46 178 95 42 50 777 1641 777 1683 0 37
            -41 77 -79 77 -30 0 -1563 -699 -1632 -745 -49 -32 -96 -106 -110 -173 -24
            -118 -40 -155 -93 -207 -60 -61 -121 -85 -210 -85 -141 0 -249 96 -281 250
            -18 84 -53 150 -105 191 -53 43 -1634 769 -1674 769 -21 0 -40 -8 -54 -23z
            m2179 -1687 c135 -26 255 -116 310 -234 62 -133 60 -248 -6 -383 -60 -122
            -169 -200 -313 -225 -135 -23 -283 30 -378 135 -153 170 -147 426 15 587 61
            61 127 97 211 116 70 16 95 16 161 4z"/>
            <path d="M2504 2811 c-97 -25 -175 -103 -194 -195 -34 -166 82 -309 251 -310
            205 -1 323 228 206 401 -54 79 -174 127 -263 104z"/>
        </g>
    </svg>
</div>
<div class="third-session">
    <div class="game-table-info">
        <div class="game-table-info-container">
            <div class="card-table-title">
                <h2>Nosso Estoque</h2>
            </div>
            <div class="card-table-description">
                <p>
                    Aqui você pode ver o nosso estoque de frutas e o quanto você pode ganhar com cada uma delas. Quanto mais frutas você cortar, mais dinheiro você ganha. Você pode jogar e lucrar muito com o {{app_name}}.
                </p>
            </div>
        </div>
        <div class="card-game-table">
            <div class="card-game-table-container">
                <div class="item-fruit">
                    <div class="item-fruit-image">
                        <img src="{%static 'image/app-structure/personalized/fruits/apple.png'%}" alt="apple">
                    </div>
                    <div class="item-fruit-info">
                        <h2 class="name-fruit">Maçã</h2>
                        <p class="description-fruit">
                            A maçã é uma fruta muito saborosa e saudável. Ela é rica em vitaminas e minerais, além de ser uma ótima fonte de fibras.
                        </p>
                        <div class="item-fruit-info-more">
                            <span class="type-fruit">Comum</span>
                            <span class="price-fruit">R$ 0,50</span>
                        </div>
                    </div>
                </div>
                <div class="item-fruit">
                    <div class="item-fruit-image">
                        <img src="{%static 'image/app-structure/personalized/fruits/strawberry.png'%}" alt="apple">
                    </div>
                    <div class="item-fruit-info">
                        <h2 class="name-fruit">Morango</h2>
                        <p class="description-fruit">
                            O morango é uma fruta muito saborosa e saudável. Ele é rico em vitaminas e minerais, além de ser uma ótima fonte de fibras.
                        </p>
                        <div class="item-fruit-info-more">
                            <span class="type-fruit">Comum</span>
                            <span class="price-fruit">R$ 3,50</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fourth-session">
    <div class="fourth-session-container">
        <div class="fourth-top">
            <div class="fourth-session-title">
                <h2>Dúvidas Frequentes</h2>
            </div>
        </div>
        <div class="fourth-bottom">
            <div class="answer-cards-faq">
                <div class="answer-card-faq">
                    <div class="answer-card-faq-title">
                        <h3>Como funciona o {{app_name}}?</h3>
                    </div>
                    <div class="answer-card-faq-description">
                        <p>
                            O {{app_name}} é um jogo de habilidade, onde você precisa cortar frutas para ganhar dinheiro. Quanto mais frutas você cortar, mais dinheiro você ganha. Você pode jogar com dinheiro real ou com dinheiro virtual.
                        </p>
                    </div>
                </div>
                <div class="answer-card-faq">
                    <div class="answer-card-faq-title">
                        <h3>Como posso jogar?</h3>
                    </div>
                    <div class="answer-card-faq-description">
                        <p>
                            Você precisa fazer um depósito inicial na plataforma para começar a jogar e faturar. Lembrando que você indicando amigos, você ganhará dinheiro de verdade na sua conta bancária.
                        </p>
                    </div>
                </div>
                <div class="answer-card-faq">
                    <div class="answer-card-faq-title">
                        <h3>Como posso sacar?</h3>
                    </div>
                    <div class="answer-card-faq-description">
                        <p>
                            <span class="bolded">O saque é instantâneo</span>. Utilizamos a sua chave PIX como CPF para enviar <span class="bolded">o pagamento, é na hora e no PIX.</span> 7 dias por semana e 24 horas por dia.
                        </p>
                    </div>
                </div>
                <div class="answer-card-faq">
                    <div class="answer-card-faq-title">
                        <h3>É tipo foguetinho?</h3>
                    </div>
                    <div class="answer-card-faq-description">
                        <p>
                            <span class="bolded">Não!</span> O jogo da frutinha é totalmente diferente, basta apenas estar atento para cortar as frutas certas. Não existe sua sorte em jogo, basta ter foco e cortar as frutas corretamente.
                        </p>
                    </div>
                </div>
                <div class="answer-card-faq">
                    <div class="answer-card-faq-title">
                        <h3>O que são as bombinhas?</h3>
                    </div>
                    <div class="answer-card-faq-description">
                        <p>
                            Quando nosso mestre ninja lanças as frutas na tábua, existem algumas bombinhas que podem ser lançadas junto as frutas. Caso você corte alguma bombinha, você perde a partida.
                        </p>
                    </div>
                </div>
                <div class="answer-card-faq">
                    <div class="answer-card-faq-title">
                        <h3>Dá para ganhar mais?</h3>
                    </div>
                    <div class="answer-card-faq-description">
                        <p>
                            Chame um amigo para jogar e após o depósito e a primeira partida será creditado em sua conta R$5 para sacar a qualquer momento.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>