<div class="deposit-card popup-card-logged">
    <div class="deposit-card-container popup-card-logged-container">
        <div class="card-deposit-request card-deposit-type card-deposit-type card-popup-request card-popup-type">
            <div class="card-deposit-top card-popup-logged-top">
                <div class="card-deposit-top-title card-popup-top-title">
                    <h3>Depósito</h3>
                </div>
                <div class="card-deposit-top-subtitle card-popup-top-subtitle">
                    <p>Deposite via PIX, é instantâneo com uma pitada de diversão e muita praticidade.</p>
                </div>
            </div>
            <div class="card-deposit-info card-popup-action-info">
                <div class="item-inputs">
                    <div class="input-title">
                        <svg class="icon-input" version="1.0" xmlns="http://www.w3.org/2000/svg"
                        width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                        preserveAspectRatio="xMidYMid meet">
                            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                            fill="#000000" stroke="none">
                                <path d="M2335 5105 c-273 -42 -517 -172 -708 -375 -210 -223 -319 -481 -334
                                -790 -21 -432 191 -845 557 -1084 180 -118 353 -178 563 -195 389 -30 721 92
                                989 365 213 216 321 452 347 753 36 402 -116 776 -419 1038 -196 168 -376 252
                                -625 288 -120 17 -260 18 -370 0z"/>
                                <path d="M1427 2639 c-452 -48 -766 -372 -912 -944 -97 -381 -122 -839 -60
                                -1090 51 -201 218 -405 411 -503 87 -44 212 -80 317 -92 62 -8 534 -10 1437
                                -8 l1345 3 85 24 c316 86 532 298 611 596 41 155 36 525 -12 817 -105 650
                                -371 1040 -792 1162 -96 28 -268 49 -319 39 -49 -9 -117 -45 -271 -144 -164
                                -106 -187 -118 -310 -164 -142 -53 -259 -76 -396 -76 -140 0 -248 20 -390 70
                                -134 48 -140 51 -350 184 -110 70 -192 115 -224 124 -56 14 -56 14 -170 2z"/>
                            </g>
                        </svg>
                        <span>Nome Completo</span>
                    </div>
                    <div class="input-container">
                        <input type="text" name="full-name" id="full-name" class="input" value="{{profile.user.full_name}}" disabled>
                    </div>
                </div>
                <div class="item-inputs">
                    <div class="input-title">
                        <svg class="icon-input" version="1.0" xmlns="http://www.w3.org/2000/svg"
                        width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                        preserveAspectRatio="xMidYMid meet">
                           <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                           fill="#000000" stroke="none">
                               <path d="M78 4489 c-23 -12 -46 -35 -58 -59 -20 -39 -20 -56 -20 -1870 0
                               -1815 0 -1831 20 -1870 13 -26 34 -47 60 -60 39 -20 53 -20 2480 -20 2427 0
                               2441 0 2480 20 26 13 47 34 60 60 20 39 20 55 20 1870 0 1815 0 1831 -20 1870
                               -13 26 -34 47 -60 60 -39 20 -53 20 -2482 20 -2413 -1 -2443 -1 -2480 -21z
                               m1617 -794 c184 -38 361 -176 444 -345 89 -183 94 -382 11 -557 l-30 -65 33
                               -26 c152 -122 273 -310 327 -507 20 -71 23 -111 27 -371 5 -281 4 -292 -16
                               -332 -14 -28 -35 -49 -61 -62 -38 -20 -57 -20 -871 -20 l-832 0 -42 24 c-75
                               44 -78 60 -72 392 4 258 7 298 27 369 54 197 184 399 328 506 l33 25 -31 65
                               c-58 124 -74 267 -45 404 38 184 176 361 345 444 139 68 279 87 425 56z m2435
                               -305 c45 -23 80 -80 80 -130 0 -50 -35 -107 -80 -130 -38 -19 -58 -20 -521
                               -20 -480 0 -481 0 -521 22 -101 57 -102 194 -2 254 l39 24 483 0 c464 0 484
                               -1 522 -20z m300 -700 c45 -23 80 -80 80 -130 0 -50 -35 -107 -80 -130 -38
                               -19 -58 -20 -671 -20 l-631 0 -40 22 c-101 57 -102 194 -2 254 l39 24 633 0
                               c615 0 634 -1 672 -20z m0 -700 c45 -23 80 -80 80 -130 0 -50 -35 -107 -80
                               -130 -38 -19 -58 -20 -671 -20 l-631 0 -40 22 c-101 57 -102 194 -2 254 l39
                               24 633 0 c615 0 634 -1 672 -20z"/>
                               <path d="M1463 3396 c-103 -34 -176 -98 -222 -196 -22 -46 -26 -69 -26 -140 0
                               -76 4 -93 33 -152 38 -77 92 -130 171 -167 47 -22 70 -26 141 -26 71 0 94 4
                               141 26 79 37 133 90 171 167 29 59 33 76 33 152 0 71 -4 94 -26 141 -58 124
                               -169 199 -302 205 -43 3 -89 -2 -114 -10z"/>
                               <path d="M1173 2481 c-70 -51 -151 -149 -193 -234 -55 -112 -70 -190 -70 -379
                               l0 -158 650 0 650 0 0 158 c0 189 -15 267 -70 379 -42 85 -123 183 -193 234
                               l-38 28 -72 -35 c-178 -84 -376 -84 -554 0 l-72 35 -38 -28z"/>
                           </g>
                        </svg>
                        <span>CPF</span>
                    </div>
                    <div class="input-container">
                        <input type="text" name="cpf" id="cpf" class="input" placeholder="Digite seu CPF" value="{{profile.user.cpf}}" disabled>
                        <div class="status-circle"></div>
                    </div>
                </div>
                <div class="item-inputs">
                    <div class="input-title">
                        <svg class="icon-input" version="1.0" xmlns="http://www.w3.org/2000/svg"
                        width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                        preserveAspectRatio="xMidYMid meet">
                           <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                           fill="#000000" stroke="none">
                               <path d="M78 4489 c-23 -12 -46 -35 -58 -59 -20 -39 -20 -56 -20 -1870 0
                               -1815 0 -1831 20 -1870 13 -26 34 -47 60 -60 39 -20 53 -20 2480 -20 2427 0
                               2441 0 2480 20 26 13 47 34 60 60 20 39 20 55 20 1870 0 1815 0 1831 -20 1870
                               -13 26 -34 47 -60 60 -39 20 -53 20 -2482 20 -2413 -1 -2443 -1 -2480 -21z
                               m1617 -794 c184 -38 361 -176 444 -345 89 -183 94 -382 11 -557 l-30 -65 33
                               -26 c152 -122 273 -310 327 -507 20 -71 23 -111 27 -371 5 -281 4 -292 -16
                               -332 -14 -28 -35 -49 -61 -62 -38 -20 -57 -20 -871 -20 l-832 0 -42 24 c-75
                               44 -78 60 -72 392 4 258 7 298 27 369 54 197 184 399 328 506 l33 25 -31 65
                               c-58 124 -74 267 -45 404 38 184 176 361 345 444 139 68 279 87 425 56z m2435
                               -305 c45 -23 80 -80 80 -130 0 -50 -35 -107 -80 -130 -38 -19 -58 -20 -521
                               -20 -480 0 -481 0 -521 22 -101 57 -102 194 -2 254 l39 24 483 0 c464 0 484
                               -1 522 -20z m300 -700 c45 -23 80 -80 80 -130 0 -50 -35 -107 -80 -130 -38
                               -19 -58 -20 -671 -20 l-631 0 -40 22 c-101 57 -102 194 -2 254 l39 24 633 0
                               c615 0 634 -1 672 -20z m0 -700 c45 -23 80 -80 80 -130 0 -50 -35 -107 -80
                               -130 -38 -19 -58 -20 -671 -20 l-631 0 -40 22 c-101 57 -102 194 -2 254 l39
                               24 633 0 c615 0 634 -1 672 -20z"/>
                               <path d="M1463 3396 c-103 -34 -176 -98 -222 -196 -22 -46 -26 -69 -26 -140 0
                               -76 4 -93 33 -152 38 -77 92 -130 171 -167 47 -22 70 -26 141 -26 71 0 94 4
                               141 26 79 37 133 90 171 167 29 59 33 76 33 152 0 71 -4 94 -26 141 -58 124
                               -169 199 -302 205 -43 3 -89 -2 -114 -10z"/>
                               <path d="M1173 2481 c-70 -51 -151 -149 -193 -234 -55 -112 -70 -190 -70 -379
                               l0 -158 650 0 650 0 0 158 c0 189 -15 267 -70 379 -42 85 -123 183 -193 234
                               l-38 28 -72 -35 c-178 -84 -376 -84 -554 0 l-72 35 -38 -28z"/>
                           </g>
                        </svg>
                        <span>Valor Depósito</span>
                    </div>
                    <div class="input-container">
                        <span>R$ </span>
                        <input type="text" name="value-deposit" id="value-deposit" class="input" placeholder="Digite seu CPF" value="25,00">
                    </div>
                </div>
            </div>
            <div class="fast-value-btn">
                <div class="fast-value-btn-container">
                    <div class="btn-fast-value">
                        <span>R$ 15,00</span>
                    </div>
                    <div class="btn-fast-value">
                        <span>R$ 25,00</span>
                    </div>
                    <div class="btn-fast-value">
                        <span>R$ 50,00</span>
                    </div>
                    <div class="btn-fast-value">
                        <span>R$ 100,00</span>
                    </div>
                    <div class="btn-fast-value">
                        <span>R$ 200,00</span>
                    </div>
                </div>
            </div>
            <div class="btn-confirm-deposit-container btn-confirm-action-popup-container">
                <div class="btn-confirm-deposit btn-confirm-action-popup">
                    <span>Confirmar</span>
                </div>
                <p>Ao depositar você concorda com os termos de serviço.</p>
            </div>
        </div>
        <div class="card-deposit-response card-deposit-type card-popup-response card-popup-type">
            <div class="card-deposit-top card-popup-logged-top">
                <div class="card-deposit-top-title card-popup-top-title">
                    <h3>Depósito</h3>
                </div>
                <div class="card-deposit-top-subtitle card-popup-top-subtitle">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                     width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                     preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                        fill="#000000" stroke="none">
                            <path d="M2455 4667 c-87 -22 -148 -58 -214 -126 -59 -60 -157 -224 -1039
                            -1731 -536 -916 -988 -1694 -1005 -1730 -40 -84 -49 -207 -22 -306 44 -162
                            186 -292 354 -324 74 -14 3988 -14 4062 0 169 32 310 161 354 324 22 80 17
                            220 -10 284 -33 81 -1993 3417 -2035 3465 -85 96 -190 146 -320 153 -42 2 -97
                            -2 -125 -9z m246 -1054 c61 -34 120 -105 139 -166 18 -57 16 -103 -30 -879
                            -22 -373 -40 -682 -40 -688 0 -6 -77 -10 -210 -10 -193 0 -210 1 -210 18 0 9
                            -20 348 -44 752 -49 815 -49 794 15 886 58 85 146 126 255 121 57 -3 83 -10
                            125 -34z m-13 -2083 c68 -29 144 -112 167 -181 38 -114 2 -254 -85 -333 -65
                            -58 -122 -80 -210 -80 -127 0 -227 64 -282 179 -53 113 -34 243 49 335 95 106
                            230 136 361 80z"/>
                        </g>
                    </svg>
                    <span>Aguardando Pagamento</span>
                </div>
            </div>
            <div class="card-deposit-info card-popup-action-info">
                <div class="info-pix info-input">
                    <img id="pix-code" src="">
                    <h3 id="container-you-pay">R$ <span id="you-pay"></span></h3>
                    <div class="container-input-copy">
                        <input id="copy-pix-code" class="copy-input-code" type="text" value="" disabled>
                        <div class="btn-copy" data-type="copy-pix-code">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                            width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                            preserveAspectRatio="xMidYMid meet">
                                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                                fill="#000000" stroke="none">
                                    <path d="M1803 4945 c-85 -23 -153 -63 -219 -129 -50 -50 -114 -146 -114 -170
                                    0 -3 420 -7 933 -8 1011 -4 945 0 1099 -58 78 -29 194 -106 263 -175 100 -100
                                    164 -213 213 -375 15 -50 17 -193 20 -1642 l2 -1588 99 0 c128 0 190 12 277
                                    55 125 61 228 196 254 334 14 74 14 3308 0 3382 -26 138 -129 273 -254 334
                                    -39 19 -95 40 -125 45 -34 6 -485 10 -1225 9 -975 0 -1180 -3 -1223 -14z"/>
                                    <path d="M841 4304 c-169 -45 -301 -180 -346 -351 -23 -86 -23 -3340 0 -3426
                                    45 -173 178 -307 350 -352 52 -13 211 -15 1235 -15 1024 0 1183 2 1235 15 172
                                    45 305 179 350 352 23 86 23 3340 0 3426 -45 173 -178 307 -350 352 -86 22
                                    -2391 22 -2474 -1z"/>
                                </g>
                            </svg>
                            <h3>Copiar</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deposit-tutorial card-popup-action-tutorial">
                <h2>Pague e será creditado na hora!</h2>
                <h3>Como funciona:</h3>
                <p>1. Abra o aplicativo do seu banco e acesse a área Pix!</p>
                <p>2. Selecione a opção pagar com código Pix Copia e Cola</p>
                <p>3. Cole o código no espaço indicado no aplicativo</p>
                <p>4. Efetue o pagamento e volte no site.</p>
            </div>
            <div class="btn-back-default btn-back-deposit">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                    fill="#000000" stroke="none">
                        <path d="M970 3935 l-815 -815 810 -810 c445 -445 813 -810 817 -810 5 0 8
                        142 8 315 l0 316 26 26 26 25 276 -5 c363 -6 572 -36 873 -122 809 -233 1505
                        -798 1904 -1546 l55 -104 0 430 c0 463 -8 587 -55 820 -141 703 -533 1336
                        -1100 1778 -154 120 -323 225 -510 317 -422 208 -776 295 -1287 315 -154 7
                        -168 9 -187 29 -20 21 -21 34 -23 339 l-3 317 -815 -815z"/>
                </svg>
                <span>Voltar</span>
            </div>
        </div>
    </div>
    <div class="btn-close-popup bt-close-deposit" data-type="deposit-card">
        <span>x</span>
    </div>
</div>