<div class="profile-card popup-card-logged">
    <div class="profile-card-container popup-card-logged-container">
        <div class="card-profile-request card-profile-type card-popup-request card-popup-type">
            <div class="card-profile-top card-popup-logged-top">
                <div class="card-profile-top-title card-popup-top-title">
                    <h3>Meu Perfil</h3>
                </div>
            </div>
            <div class="card-profile-info card-popup-action-info">
                <div class="card-container-top">
                    <div class="card-container-top-title profile-default-title">
                        <h3>Informações Pessoais</h3>
                    </div>
                    <div class="card-container-top-content profile-default-content">
                        <div class="item-inputs">
                            <div class="input-title">
                                <svg class="icon-input" version="1.0" xmlns="http://www.w3.org/2000/svg"
                                width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                                preserveAspectRatio="xMidYMid meet">
                                   <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                                   fill="#000000" stroke="none">
                                       <path d="M78 4489 c-23 -12 -46 -35 -58 -59 -20 -39 -20 -56 -20 -1870 0
                                       -1815 0 -1831 20 -1870 13 -26 34 -47 60 -60 39 -20 53 -20 2480 -20 2427 0
                                       2441 0 2480 20 26 13 47 34 60 60 20 39 20 55 20 1870 0 1815 0 1831 -20 1870
                                       -13 26 -34 47 -60 60 -39 20 -53 20 -2482 20 -2413 -1 -2443 -1 -2480 -21z
                                       m1617 -794 c184 -38 361 -176 444 -345 89 -183 94 -382 11 -557 l-30 -65 33
                                       -26 c152 -122 273 -310 327 -507 20 -71 23 -111 27 -371 5 -281 4 -292 -16
                                       -332 -14 -28 -35 -49 -61 -62 -38 -20 -57 -20 -871 -20 l-832 0 -42 24 c-75
                                       44 -78 60 -72 392 4 258 7 298 27 369 54 197 184 399 328 506 l33 25 -31 65
                                       c-58 124 -74 267 -45 404 38 184 176 361 345 444 139 68 279 87 425 56z m2435
                                       -305 c45 -23 80 -80 80 -130 0 -50 -35 -107 -80 -130 -38 -19 -58 -20 -521
                                       -20 -480 0 -481 0 -521 22 -101 57 -102 194 -2 254 l39 24 483 0 c464 0 484
                                       -1 522 -20z m300 -700 c45 -23 80 -80 80 -130 0 -50 -35 -107 -80 -130 -38
                                       -19 -58 -20 -671 -20 l-631 0 -40 22 c-101 57 -102 194 -2 254 l39 24 633 0
                                       c615 0 634 -1 672 -20z m0 -700 c45 -23 80 -80 80 -130 0 -50 -35 -107 -80
                                       -130 -38 -19 -58 -20 -671 -20 l-631 0 -40 22 c-101 57 -102 194 -2 254 l39
                                       24 633 0 c615 0 634 -1 672 -20z"/>
                                       <path d="M1463 3396 c-103 -34 -176 -98 -222 -196 -22 -46 -26 -69 -26 -140 0
                                       -76 4 -93 33 -152 38 -77 92 -130 171 -167 47 -22 70 -26 141 -26 71 0 94 4
                                       141 26 79 37 133 90 171 167 29 59 33 76 33 152 0 71 -4 94 -26 141 -58 124
                                       -169 199 -302 205 -43 3 -89 -2 -114 -10z"/>
                                       <path d="M1173 2481 c-70 -51 -151 -149 -193 -234 -55 -112 -70 -190 -70 -379
                                       l0 -158 650 0 650 0 0 158 c0 189 -15 267 -70 379 -42 85 -123 183 -193 234
                                       l-38 28 -72 -35 c-178 -84 -376 -84 -554 0 l-72 35 -38 -28z"/>
                                   </g>
                                </svg>
                                <span>CPF</span>
                            </div>
                            <div class="input-container">
                                <input type="text" name="cpf" id="cpf-profile" class="input" placeholder="Digite seu CPF" value="{{profile.user.cpf}}" disabled>
                                <div class="status-circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-container-bottom">
                    <div class="card-bottom-fixed-options">
                        <div class="card-bottom-fixed-title menu-selected">
                            <span>Dados</span>
                        </div>  
                        <div class="card-bottom-fixed-title">
                            <span>Depósitos</span>
                        </div>
                        <div class="card-bottom-fixed-title">
                            <span>Saques</span>
                        </div>
                    </div>
                    <div class="card-bottom-auto-menus">
                        <div class="card-bottom-auto-menus-container popup-card-logged-container">
                            <div class="card-bottom-menus-profile card-popup-request card-popup-type card-container-profile">
                                <div class="item-inputs">
                                    <div class="input-title">
                                        <svg class="icon-input" version="1.0" xmlns="http://www.w3.org/2000/svg"
                                        width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                                        preserveAspectRatio="xMidYMid meet">
                                            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                                            fill="#000000" stroke="none">
                                                <path d="M2335 5105 c-273 -42 -517 -172 -708 -375 -210 -223 -319 -481 -334
                                                -790 -21 -432 191 -845 557 -1084 180 -118 353 -178 563 -195 389 -30 721 92
                                                989 365 213 216 321 452 347 753 36 402 -116 776 -419 1038 -196 168 -376 252
                                                -625 288 -120 17 -260 18 -370 0z"/>
                                                <path d="M1427 2639 c-452 -48 -766 -372 -912 -944 -97 -381 -122 -839 -60
                                                -1090 51 -201 218 -405 411 -503 87 -44 212 -80 317 -92 62 -8 534 -10 1437
                                                -8 l1345 3 85 24 c316 86 532 298 611 596 41 155 36 525 -12 817 -105 650
                                                -371 1040 -792 1162 -96 28 -268 49 -319 39 -49 -9 -117 -45 -271 -144 -164
                                                -106 -187 -118 -310 -164 -142 -53 -259 -76 -396 -76 -140 0 -248 20 -390 70
                                                -134 48 -140 51 -350 184 -110 70 -192 115 -224 124 -56 14 -56 14 -170 2z"/>
                                            </g>
                                        </svg>
                                        <span>Nome Completo</span>
                                    </div>
                                    <div class="input-container">
                                        <input type="text" name="full-name" id="full-name-profile" class="input" value="{{profile.user.full_name}}">
                                    </div>
                                </div>
                                <div class="item-inputs">
                                    <div class="input-title">
                                        <svg class="icon-input" version="1.0" xmlns="http://www.w3.org/2000/svg"
                                        width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                                        preserveAspectRatio="xMidYMid meet">
                                            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                                            fill="#000000" stroke="none">
                                                <path d="M2335 5105 c-273 -42 -517 -172 -708 -375 -210 -223 -319 -481 -334
                                                -790 -21 -432 191 -845 557 -1084 180 -118 353 -178 563 -195 389 -30 721 92
                                                989 365 213 216 321 452 347 753 36 402 -116 776 -419 1038 -196 168 -376 252
                                                -625 288 -120 17 -260 18 -370 0z"/>
                                                <path d="M1427 2639 c-452 -48 -766 -372 -912 -944 -97 -381 -122 -839 -60
                                                -1090 51 -201 218 -405 411 -503 87 -44 212 -80 317 -92 62 -8 534 -10 1437
                                                -8 l1345 3 85 24 c316 86 532 298 611 596 41 155 36 525 -12 817 -105 650
                                                -371 1040 -792 1162 -96 28 -268 49 -319 39 -49 -9 -117 -45 -271 -144 -164
                                                -106 -187 -118 -310 -164 -142 -53 -259 -76 -396 -76 -140 0 -248 20 -390 70
                                                -134 48 -140 51 -350 184 -110 70 -192 115 -224 124 -56 14 -56 14 -170 2z"/>
                                            </g>
                                        </svg>
                                        <span>E-mail</span>
                                    </div>
                                    <div class="input-container">
                                        <input type="text" name="email" id="email-profile" class="input" value="{{profile.user.email}}">
                                    </div>
                                </div>
                                <div class="item-inputs">
                                    <div class="input-title">
                                        <svg class="icon-input" version="1.0" xmlns="http://www.w3.org/2000/svg"
                                        width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                                        preserveAspectRatio="xMidYMid meet">
                                           <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                                           fill="#000000" stroke="none">
                                               <path d="M78 4489 c-23 -12 -46 -35 -58 -59 -20 -39 -20 -56 -20 -1870 0
                                               -1815 0 -1831 20 -1870 13 -26 34 -47 60 -60 39 -20 53 -20 2480 -20 2427 0
                                               2441 0 2480 20 26 13 47 34 60 60 20 39 20 55 20 1870 0 1815 0 1831 -20 1870
                                               -13 26 -34 47 -60 60 -39 20 -53 20 -2482 20 -2413 -1 -2443 -1 -2480 -21z
                                               m1617 -794 c184 -38 361 -176 444 -345 89 -183 94 -382 11 -557 l-30 -65 33
                                               -26 c152 -122 273 -310 327 -507 20 -71 23 -111 27 -371 5 -281 4 -292 -16
                                               -332 -14 -28 -35 -49 -61 -62 -38 -20 -57 -20 -871 -20 l-832 0 -42 24 c-75
                                               44 -78 60 -72 392 4 258 7 298 27 369 54 197 184 399 328 506 l33 25 -31 65
                                               c-58 124 -74 267 -45 404 38 184 176 361 345 444 139 68 279 87 425 56z m2435
                                               -305 c45 -23 80 -80 80 -130 0 -50 -35 -107 -80 -130 -38 -19 -58 -20 -521
                                               -20 -480 0 -481 0 -521 22 -101 57 -102 194 -2 254 l39 24 483 0 c464 0 484
                                               -1 522 -20z m300 -700 c45 -23 80 -80 80 -130 0 -50 -35 -107 -80 -130 -38
                                               -19 -58 -20 -671 -20 l-631 0 -40 22 c-101 57 -102 194 -2 254 l39 24 633 0
                                               c615 0 634 -1 672 -20z m0 -700 c45 -23 80 -80 80 -130 0 -50 -35 -107 -80
                                               -130 -38 -19 -58 -20 -671 -20 l-631 0 -40 22 c-101 57 -102 194 -2 254 l39
                                               24 633 0 c615 0 634 -1 672 -20z"/>
                                               <path d="M1463 3396 c-103 -34 -176 -98 -222 -196 -22 -46 -26 -69 -26 -140 0
                                               -76 4 -93 33 -152 38 -77 92 -130 171 -167 47 -22 70 -26 141 -26 71 0 94 4
                                               141 26 79 37 133 90 171 167 29 59 33 76 33 152 0 71 -4 94 -26 141 -58 124
                                               -169 199 -302 205 -43 3 -89 -2 -114 -10z"/>
                                               <path d="M1173 2481 c-70 -51 -151 -149 -193 -234 -55 -112 -70 -190 -70 -379
                                               l0 -158 650 0 650 0 0 158 c0 189 -15 267 -70 379 -42 85 -123 183 -193 234
                                               l-38 28 -72 -35 c-178 -84 -376 -84 -554 0 l-72 35 -38 -28z"/>
                                           </g>
                                        </svg>
                                        <span>Telefone</span>
                                    </div>
                                    <div class="input-container">
                                        <input type="text" name="phone" id="phone-profile" class="input" placeholder="Digite seu CPF" value="{{profile.user.phone}}">
                                        <div class="status-circle"></div>
                                    </div>
                                </div>
                                <div class="btn-save-profile-container">
                                    <div class="btn-save-profile">
                                        <span>Salvar</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-bottom-menus-profile card-popup-request card-popup-type card-container-deposit"></div>
                            <div class="card-bottom-menus-profile card-popup-request card-popup-type card-container-withdraw"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-close-popup bt-close-profile" data-type="profile-card">
        <span>x</span>
    </div>
</div>