{%load static%}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        {%block add_head%}{%endblock%}
        <title>{%block application_name%}{{app_name}}{%endblock%} | {%block title%}Página Estrutural{%endblock%}</title>
        <link rel="icon" href="{%static 'image/app-structure/logo.png'%}" type="image/x-icon"> 
        <link rel='stylesheet' href='{%static "css/app-structure/mainStructure.css"%}'>
        <link rel='stylesheet' href='{%static "css/app-structure/animations.css"%}'>
        <link rel='stylesheet' href='{%static "css/app-structure/clientConfig.css"%}'>
        <link rel='stylesheet' href='{%static "css/app-structure/components/alerts/card-alert-0887.css"%}'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
        {%block static%}{%endblock%} 
        {%block fonts%}{%endblock%}
        <!-- Meta Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1401674844055197');
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=1401674844055197&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Meta Pixel Code -->
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FFXZBZ74LC"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-FFXZBZ74LC');
        </script>
    </head>

    <body>
        {%block navbar%}{%endblock%}
        <section class='main'>
            {%block content%}{%endblock%}
        </section>
        {%block popup%}{%endblock%}
        {%block out-main%}{%endblock%}
        <section class="alert-main">
            {%include 'app-structure/components/alerts/card-alert-0887.html'%}
        </section>
        {%block alerts%}{%endblock%}
        {%block scripts%}{%endblock%}
        <section class="footer">
            {%block footer%}
                {%include 'app-structure/personalized/footer.html'%}
            {%endblock%}
        </section>
        {%csrf_token%}
        <script type="module" src='{%static "js/app-structure/default-client/funct-min-82092.js"%}'></script>
        <script type="module" src='{%static "js/app-structure/default-client/alert-main-min-23826.js"%}'></script>
        <script type="module" src='{%static "js/app-structure/default-client/mask-min-9746.js"%}'></script>
    </body>
</html>