.main-alerts{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    display: none; 
    flex-direction: column;
}

.div-absolute{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.div-absolute-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loads{
    display: none; 
    flex-direction: column;
}

.loads-containers{
    background-color: rgba(0, 0, 0, 0.55);
}

.loads-containers svg{
    animation: pulse 1.5s infinite;
}

.alert{
    display: none; 
}

.alert-card{
    position: relative;
    width: 60rem;
    min-height: 18rem;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
    border-radius: 1rem;
    overflow: hidden;
    flex-direction: column;
}

.alert-card-container{
    width:100%;
    height: 100%;
}

.alert-top{
    width:100%;
    height: 4rem;
    background-color: var(--blue-dark);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert-top-container{
    position: relative;
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#alert-title-error{
    font-size: 1.68rem;
}

.btn-close{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: .25rem;
    margin-right: .5rem;
    font-size: 1.45rem;
    font-weight: bold;
    cursor: pointer;
    transition: .25s;
    user-select: none;
}

.btn-close:hover{
    color: var(--red);
}

.alert-bottom{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.alert-bottom-container{
    margin: 2rem 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alert-bottom-container #error-img{
    width:3rem;
    height: auto;
}

#error-message{
    margin-left: 2rem;
    font-size: 2.1rem;
    font-weight: 500;
}

.personalized-card{
    display: none;
}

@media only screen and (max-width:999px) {
    .alert-card{
        width:90%;
        min-height: 20rem;
        padding-bottom: .75rem;
    }
}