{%load static%}
<div class="alert-main-container">
    <div class="alert-main-card">
        <div class="alert-main-card-container">
            <div class="alert-main-top">
                <div class="alert-main-top-container">
                    <h3 id="alert-main-title-error">Mensagem</h3>
                    <div class="btn-close-main btn-close-main-card">
                        <span>X</span>
                    </div>
                </div>
            </div>
            <div class="alert-main-bottom">
                <div class="alert-main-bottom-container">
                    <img id="alert-main-error-img" src='{%static "image/sharkbot/alerts/error.png"%}'>
                    <span id="alert-main-error-message">Você não possui autorização para utilizar o bot desse jogo!</span>
                </div>
            </div>
        </div>
    </div>
</div>