<div class="card-bottom-table-title card-bottom-table-withdraw-title mode-row">
    <div class="table-column table-column-withdraw table-column-value table-column-title alternate-2">
        <span>Valor</span>
    </div>
    <div class="table-column table-column-withdraw table-column-status table-column-title alternate-1">
        <span>Status</span>
    </div>
    <div class="table-column table-column-withdraw table-column-date table-column-title alternate-2">
        <span>Data</span>
    </div>
    <div class="table-column table-column-withdraw table-column-details table-column-title alternate-1">
        <span>Info</span>
    </div>
</div>
<div class="card-bottom-table-row card-bottom-table-withdraw-row">
    {% for withdraw in withdraws %}
        <div class="table-item-row table-item-row-withdraw mode-row">
            <div class="table-column table-column-withdraw table-column-value">
                <span>R$ {{withdraw.value}}</span>
            </div>
            <div class="table-column table-column-withdraw table-column-status">
                {%if withdraw.status == 'pending' %}
                    <div class="border-status status-value pendent">
                        <span>Pendente</span>
                    </div>
                {% elif withdraw.status == 'approved' %}
                    <div class="border-status status-value approved">
                        <span>Aprovado</span>
                    </div>
                {% elif withdraw.status == 'canceled' %}
                    <div class="border-status status-value canceled">
                        <span>Cancelado</span>
                    </div>
                {% else %}
                    <div class="border-status status-value in-progress">
                        <span>Em Andamento</span>
                    </div>
                {% endif %}
            </div>
            <div class="table-column table-column-withdraw table-column-date">
                <span>{{ withdraw.created_at }}</span>
            </div>
            <div class="table-column table-column-withdraw table-column-details">
                <span>{{ withdraw.details }}</span>
            </div>
        </div>
    {% endfor %}
</div>