{%for user in users%}
    <div class="item-users table-row">
        <div class="table-column table-column-result no-mobile column-id">
            {%if user.activated%}
                <div class="borded green"></div>
            {%else%}
                <div class="borded red"></div>
            {%endif%}
        </div>
        <div class="table-column table-column-result column-id">
            <span class="id-user">{{user.id}}</span>
            <div class="oculted-infos" style="display:none;">
                {%if user.deposited == True%}
                    <div class="user-deposisted"></div>
                {%endif%}
            </div>
        </div>
        <div class="table-column table-column-result">
            <span>{{user.full_name}}</span>
        </div>
        <div class="table-column table-column-result result-email">
            <span>{{user.email}}</span>
        </div>
        <div class="table-column table-column-result no-mobile">
            <span>R$ {{user.balance}}</span>
        </div>
        <div class="table-column table-column-result no-mobile no-mobile">
            {%if user.influencer%}
                <div class="borded green"></div>
            {%else%}
                <div class="borded red"></div>
            {%endif%}
        </div>
        <div class="table-column table-column-result no-mobile column-id">
            {%if user.permited_withdraw%}
                <div class="borded green"></div>
            {%else%}
                <div class="borded red"></div>
            {%endif%}
        </div>
    </div>
{%endfor%}