{%extends 'app-structure/default-client/game.html'%} 
{%load static%} 

{%block title%}Modo: Classico{%endblock%} 
{%block in_static%}
    <link rel='stylesheet' href='{%static "css/app-structure/personalized/classic-game.css"%}'>
    <link rel="manifest" href="{%static 'js/game/subwaysurfers.webmanifest'%}">
{%endblock%} 


{%block add_head%}
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui, viewport-fit=cover" />
    <meta name="description" content>
    <title>{{app_name}}</title>
    <style>
        .footer{
            display: none !important;
        }
      body, html { 
          margin: 0;
          height: 100%;
          background-color: #0b316b;
          overflow: hidden;
          background-image: url('{{static_url}}/js/game/assets/preload/splash.png');
          background-repeat: no-repeat;
          background-position: center;
      }

      #message {
          text-align: center;
          font-size: 8px;
          z-index: 5;
          font-family: "Verdana", sans-serif;
          color: #fff;
          position: fixed;
          width: 100%;
          z-index: 9999;
      }

      .dot {
          display: inline;
          margin-left: 0.2em;
          margin-right: 0.2em;
          position: relative;
          top: -1em;
          font-size: 3.5em;
          opacity: 0;
          animation: showHideDot 2.5s ease-in-out infinite;
      }

      .dot.one { animation-delay: 0.2s; }
      .dot.two { animation-delay: 0.4s; }
      .dot.three { animation-delay: 0.6s; }

      @keyframes showHideDot {
          0% { opacity: 0; }
          50% { opacity: 1; }
          60% { opacity: 1; }
          100% { opacity: 0; }
      }
        .container-btn-stop-game{
            position: absolute;
            top: 80%;
            left: 0;
            width: 100%;
            height: fit-content;
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 10;
        }

        .btn-stop-game{
            width: 6.25rem;
            height: 6.25rem;
            background-color: var(--secondary-background-color);
            border-radius: 10px;
            box-shadow: 0 0 6px 0 #000;
            color: var(--opost-text-color);
            font-family: monospace;
            z-index: 10;
            transition: .3s;
            animation: pulse 1s infinite;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            user-select: none;
            text-align: center;
            font-size: 1.45rem;
            font-weight: bold;
            opacity: .85;
        }

        .btn-stop-game svg{
            width: 3.5rem;
            height: auto;
            transition: .3s;
            transform: rotate(330deg);
        }

        .btn-stop-game svg path{
            fill: var(--opost-text-color);
        }

        .btn-stop-game:hover{
            transform: scale(1.1);
            background-color: var(--light-green);
            opacity: 1;
        }
    </style>
    
{%endblock%}

{%block fonts%} 

{%endblock%} 

{%block navbar%}
{%endblock%}

{%block mainContent%}
    <input value="{{static_url}}" id="dynamicStaticFile" type="hidden" style="display:none;">
    <input value="{{status_game.game.hash_game}}" id="hash-game" type="hidden" style="display:none;">
    <input id="input-first-click" value="0" type="hidden" style="display:none;">
      <script>
        window.NOSW = true;
        window.GAME_CONFIG = {
            pokiSdkDebug: false,
            leaderboard: 'mockup',
            bundlesPath: '{{static_url}}/js/game/bundles',
            quality: 'high'
        }
    </script>
    <div id="message">
        <h1>Loading</h1>
        <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
    </div>
    <div id="ap" style="opacity:0;"></div>
    <div id="mk" style="opacity:0;"></div>
    <div class="container-btn-stop-game" style="display: none;">
      <div class="btn-stop-game">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
          width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
          preserveAspectRatio="xMidYMid meet">
              <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
              fill="#000000" stroke="none">
                      <path d="M2103 4671 c-254 -73 -423 -294 -423 -554 0 -140 40 -262 118 -360
                      l30 -38 12 38 c25 76 74 155 131 207 140 130 333 160 506 79 79 -37 181 -140
                      213 -215 14 -32 28 -58 32 -58 14 0 68 104 89 170 87 279 -48 578 -316 700
                      -33 15 -84 33 -113 39 -77 16 -207 12 -279 -8z"/>
                      <path d="M2187 3903 c-62 -21 -131 -83 -165 -147 l-27 -51 -5 -713 -5 -712
                      -90 142 c-102 162 -146 210 -212 232 -148 50 -305 -19 -358 -157 -38 -99 -32
                      -121 219 -797 126 -338 245 -646 264 -685 147 -295 429 -508 752 -569 104 -20
                      272 -20 383 -1 380 66 704 351 820 720 45 144 49 198 45 685 l-3 455 -27 55
                      c-68 139 -175 213 -340 235 -43 6 -48 9 -59 43 -45 137 -167 225 -329 238
                      l-87 6 -12 34 c-18 49 -106 141 -163 170 -30 15 -82 29 -133 36 l-84 10 -3
                      282 c-3 269 -4 283 -26 331 -62 135 -219 205 -355 158z"/>
              </g>
          </svg>
          <span>Parar</span>
      </div>
    </div>
{%endblock%}

{%block scripts%}
   <script>
    function getCSRFToken() {
        const name = 'csrftoken=';
        const decodedCookie = decodeURIComponent(document.cookie);
        const cookieArray = decodedCookie.split(';');

        for (let i = 0; i < cookieArray.length; i++) {
            let cookie = cookieArray[i].trim();
            if (cookie.indexOf(name) === 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }
        return null;
    }
    var dynamicStaticFile = document.getElementById("dynamicStaticFile").value;
    var hash_game = document.getElementById('hash-game').value;
    if(hash_game !== 'null'){
        document.getElementById('pixi-canvas').addEventListener('click', function(){
        var inputFirstClick = document.getElementById('input-first-click').value;
        if(inputFirstClick == 0){
            document.getElementById('input-first-click').value = 1;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/api/v1/game/update', true);
            xhr.setRequestHeader('X-CSRFToken', getCSRFToken());
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.onload = function() {
                if(xhr.status === 200){
                    var data = JSON.parse(xhr.responseText);
                    document.getElementById('pixi-canvas').removeEventListener('click', function(){});
                }
            }
            data = {
                'hash_game': hash_game,
                'status': 'started'
            }
            data = JSON.stringify(data);
            xhr.send(data);
        }
        });
    }         
   </script>
   <script src="{%static 'js/game/poki-sdk.js'%}"></script>
   <script src="{%static 'js/game/js/loading.js'%}?v=0.32"></script>
   <script src="{%static 'js/game/js/boot.js'%}?v=0.32"></script>
   <script src="{%static 'js/jquery.js'%}" type="text/javascript"></script>
{%endblock%}