{%extends 'admin/default-admin/index.html'%}
{%load static%}

{%block in_static%}
    <link rel='stylesheet' href='{%static "css/panel/configs.css"%}'>
{%endblock%}

{%block popup%}
    <div class="container-card-config" style="display:none;"></div>
{%endblock%}

{%block main-container%}
<div class="card-config">
    <div class="card-config-container">
        <div class="card-config-header">
            <span>Configurações</span>
        </div>
        <div class="card-config-content">
            <div class="card-config-item">
                <div class="card-config-title">
                    <span>Aplicação</span>
                </div>
                <div class="card-config-item-content">
                    <div class="card-config-item-inputs item-inputs">
                        <div class="input-title">
                            <span>Nome Aplicação</span>
                        </div>
                        <div class="input-container">
                            <input type="text" id="app-name" class="input input-configs-application" value="{{app_name}}" placeholder="FruitCash">
                        </div>
                    </div>
                </div>
                <div class="card-config-item-content">
                    <div class="card-config-item-inputs item-inputs">
                        <div class="input-title">
                            <span>Nome Aplicação (Espaço)</span>
                        </div>
                        <div class="input-container">
                            <input type="text" id="app-name-separated" class="input input-configs-application" value="{{app_name_separated}}" placeholder="Fruit Cash">
                        </div>
                    </div>
                </div>
                <div class="card-config-item-content">
                    <div class="card-config-item-inputs item-inputs">
                        <div class="input-title">
                            <span>E-mail Aplicação</span>
                        </div>
                        <div class="input-container">
                            <input type="text" id="app-email" class="input input-configs-application" value="{{app_email}}" placeholder="contato@fruitcash.com">
                        </div>
                    </div>
                </div>
                <div class="card-config-item-content">
                    <div class="card-config-item-inputs item-inputs">
                        <div class="input-title">
                            <span>Link Suporte</span>
                        </div>
                        <div class="input-container">
                            <input type="text" id="support-link" class="input input-configs-application" value="{{support_link}}" placeholder="https://google.com">
                        </div>
                    </div>
                </div>
                <div class="card-config-item-content">
                    <div class="card-config-item-inputs item-inputs">
                        <div class="input-title">
                            <span>Link Suporte Afiliados</span>
                        </div>
                        <div class="input-container">
                            <input type="text" id="support-link-affiliates" class="input input-configs-application" value="{{support_link_affiliates}}" placeholder="https://google.com">
                        </div>
                    </div>
                </div>
                <div class="card-config-item-content">
                    <div class="card-config-item-inputs item-inputs">
                        <div class="input-title">
                            <span>Link do Grupo</span>
                        </div>
                        <div class="input-container">
                            <input type="text" id="link-group" class="input input-configs-application" value="{{link_group}}" placeholder="https://google.com">
                        </div>
                    </div>
                </div>
                <div class="card-config-item-content">
                    <div class="card-config-item-inputs item-inputs">
                        <div class="input-title">
                            <span>Copy Telefone</span>
                        </div>
                        <div class="textarea-container">
                            <!--<input type="text" id="copy-get-phone" class="input input-configs-application" value="{{copy_get_phone}}" placeholder="Mensagem para pegar telefone">-->
                            <textarea id="copy-get-phone-textarea" class="textarea input-configs-application" placeholder="Mensagem para pegar telefone">{{copy_get_phone}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-config-item">
                <div class="card-config-title">
                    <span>Deposito</span>
                </div>
                <div class="card-config-item-content">
                    <div class="card-config-item-inputs item-inputs">
                        <div class="input-title">
                            <span>Deposito Permitido</span>
                        </div>
                        <div class="input-container">
                            <span>R$</span>
                            <input type="text" id="permited-deposit" class="input input-configs-application" value="{{permited_deposit}}" placeholder="25">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-config-item">
                <div class="card-config-title">
                    <span>Saque</span>
                </div>
                <div class="card-config-item-content">
                    <div class="card-config-item-inputs item-inputs">
                        <div class="input-title">
                            <span>Saque Permitido</span>
                        </div>
                        <div class="input-container">
                            <span>R$</span>
                            <input type="text" id="permited-withdraw" class="input input-configs-application" value="{{permited_withdraw}}" placeholder="25">
                        </div>
                    </div>
                </div>
            </div>
            {%if sms_funnel_status == True%}
                <div class="card-config-item">
                    <div class="card-config-title">
                        <span>SMS Funnel</span>
                    </div>
                    <div class="card-config-item-content">
                        <div class="card-config-item-inputs item-inputs">
                            <div class="input-title">
                                <span>Pix Gerado</span>
                            </div>
                            <div class="input-container">
                                <span>R$</span>
                                <input type="text" id="permited-withdraw" class="input input-configs-application" value="{{permited_withdraw}}" placeholder="25">
                            </div>
                        </div>
                    </div>
                </div>
            {%endif%}
            <div class="card-config-item">
                <div class="card-config-title">
                    <span>Email</span>
                </div>
                <div class="card-config-item-content">
                    <div class="card-config-item-inputs item-inputs">
                        <div class="input-title">
                            <span>SMTP Host Recuperação</span>
                        </div>
                        <div class="input-container">
                            <input type="text" id="smtp-host-recovery" class="input input-configs-application" value="{{smtp_host_recovery}}" placeholder="smtp.hostinger.com">
                        </div>
                    </div>
                    <div class="card-config-item-inputs item-inputs">
                        <div class="input-title">
                            <span>SMTP Porta Recuperação</span>
                        </div>
                        <div class="input-container">
                            <input type="text" id="smtp-port-recovery" class="input input-configs-application" value="{{smtp_port_recovery}}" placeholder="587">
                        </div>
                    </div>
                    <div class="card-config-item-inputs item-inputs">
                        <div class="input-title">
                            <span>SMTP Email Recuperação</span>
                        </div>
                        <div class="input-container">
                            <input type="text" id="smtp-email-recovery" class="input input-configs-application" value="{{smtp_email_recovery}}" placeholder="587">
                        </div>
                    </div>
                    <div class="card-config-item-inputs item-inputs">
                        <div class="input-title">
                            <span>SMTP Senha Recuperação</span>
                        </div>
                        <div class="input-container">
                            <input type="text" id="smtp-password-recovery" class="input input-configs-application" value="{{smtp_password_recovery}}" placeholder="teste@123">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-btn-confirm-update">
            <div class="btn-confirm-update">
                <span>Atualizar</span>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block in_script%}
    <script type="module" src='{%static "js/admin/configs-admin-09124.js"%}'></script>
{%endblock%}