<div class="affiliates-card popup-card-logged">
    <div class="affiliates-card-container popup-card-logged-container">
        <div class="card-affiliates-request card-affiliates-type card-popup-request card-popup-type">
            <div class="card-affiliates-top card-popup-logged-top">
                <div class="card-affiliates-top-title card-popup-top-title">
                    <h3>Painel de Afiliado</h3>
                </div>
                <div class="card-affiliates-top-subtitle card-popup-top-subtitle">
                    <p>Indique e ganhe! Nosso programa de afiliados fará lucrar muito.</p>
                </div>
            </div>
            <div class="card-affiliates-info card-popup-action-info">
                <div class="affiliates-first">
                    <div class="affiliates-first-message">
                        <span>Olá <span class="bolded">{{profile.user.full_name}}</span>, aqui estão suas métricas como afiliado.</span>
                    </div>
                    <div class="affiliates-code-affiliates">
                        <span>Seu link de afiliado:</span>
                        <div class="card-affiliate-info card-popup-action-info">
                            <div class="info-input">
                                <div class="container-input-copy">
                                    <input id="copy-affiliates-code" class="copy-input-code" type="text" value="{{link_affiliate}}" disabled>
                                    <div class="btn-copy" data-type="copy-affiliates-code">
                                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                        width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                                        preserveAspectRatio="xMidYMid meet">
                                            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                                            fill="#000000" stroke="none">
                                                <path d="M1803 4945 c-85 -23 -153 -63 -219 -129 -50 -50 -114 -146 -114 -170
                                                0 -3 420 -7 933 -8 1011 -4 945 0 1099 -58 78 -29 194 -106 263 -175 100 -100
                                                164 -213 213 -375 15 -50 17 -193 20 -1642 l2 -1588 99 0 c128 0 190 12 277
                                                55 125 61 228 196 254 334 14 74 14 3308 0 3382 -26 138 -129 273 -254 334
                                                -39 19 -95 40 -125 45 -34 6 -485 10 -1225 9 -975 0 -1180 -3 -1223 -14z"/>
                                                <path d="M841 4304 c-169 -45 -301 -180 -346 -351 -23 -86 -23 -3340 0 -3426
                                                45 -173 178 -307 350 -352 52 -13 211 -15 1235 -15 1024 0 1183 2 1235 15 172
                                                45 305 179 350 352 23 86 23 3340 0 3426 -45 173 -178 307 -350 352 -86 22
                                                -2391 22 -2474 -1z"/>
                                            </g>
                                        </svg>
                                        <h3>Copiar</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="affiliates-measurements">
                    <div class="affiliates-measurements-top">
                        <div class="affiliates-measurements-secondary-title">
                            <span>Extrato</span>
                        </div>
                        <div class="affiliates-measurements-total-earnings affiliates-measurements-yinfo">
                            <div class="affiliates-measurements-yinfo-item">
                                <div class="affiliates-measurements-title alternate-1">
                                    <span>
                                        Ganhos Totais
                                    </span>
                                </div>
                                <span class="affiliates-measurements-value">R$ <span class="total-earning">0,00</span></span>
                            </div>
                            <div class="affiliates-measurements-yinfo-item">
                                <div class="affiliates-measurements-title alternate-2">
                                    <span>
                                        Mês atual
                                    </span>
                                </div>
                                <span class="affiliates-measurements-value">R$ <span class="total-earning-month">0,00</span></span>
                            </div>
                            <div class="affiliates-measurements-yinfo-item">
                                <div class="affiliates-measurements-title alternate-1">
                                    <span>
                                        Último mês
                                    </span>
                                </div>
                                <span class="affiliates-measurements-value">R$ <span class="total-earning-last-month">0,00</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="affiliates-measurements-cpa affiliates-measurements-yinfo affiliates-measurements-content-of-third-container">
                        <div class="affiliates-measurements-third-title">
                            <span>CPA</span>
                        </div>
                        <div class="affiliates-measurements-content-of-third">
                            <div class="affiliates-measurements-yinfo-item">
                                <div class="affiliates-measurements-title alternate-1">
                                    <span>
                                        Percentagem
                                    </span>
                                </div>
                                <span class="affiliates-measurements-value"><span class="cpa-percent">0</span>%</span>
                            </div>
                            <div class="affiliates-measurements-yinfo-item">
                                <div class="affiliates-measurements-title alternate-2">
                                    <span>
                                        Cadastros
                                    </span>
                                </div>
                                <span class="affiliates-measurements-value"><span class="cpa-count">0</span> cadastros</span>
                            </div>
                            <div class="affiliates-measurements-yinfo-item">
                                <div class="affiliates-measurements-title alternate-1">
                                    <span>
                                        Depositado
                                    </span>
                                </div>
                                <span class="affiliates-measurements-value"><span class="cpa-deposits">0</span> cadastros</span>
                            </div>
                            <div class="affiliates-measurements-yinfo-item">
                                <div class="affiliates-measurements-title alternate-2">
                                    <span>
                                        Ganhos Mensal
                                    </span>
                                </div>
                                <span class="affiliates-measurements-value">R$ <span class="cpa-total-earnings-month">0,00</span></span>
                            </div>
                            <div class="affiliates-measurements-yinfo-item">
                                <div class="affiliates-measurements-title alternate-1">
                                    <span>
                                        Ganhos Total
                                    </span>
                                </div>
                                <span class="affiliates-measurements-value">R$ <span class="cpa-total-earnings">0,00</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="affiliates-measurements-revshare affiliates-measurements-yinfo affiliates-measurements-content-of-third-container">
                        <div class="affiliates-measurements-third-title">
                            <span>Revenue Share</span>
                        </div>
                        <div class="affiliates-measurements-content-of-third">
                            <div class="affiliates-measurements-yinfo-item">
                                <div class="affiliates-measurements-title alternate-1">
                                    <span>
                                        Percentagem
                                    </span>
                                </div>
                                <span class="affiliates-measurements-value"><span class="revshare-percent">0</span>%</span>
                            </div>
                            <div class="affiliates-measurements-yinfo-item">
                                <div class="affiliates-measurements-title alternate-2">
                                    <span>
                                        Ativos
                                    </span>
                                </div>
                                <span class="affiliates-measurements-value"><span class="revshare-count">0</span> cadastros</span>
                            </div>
                            <div class="affiliates-measurements-yinfo-item">
                                <div class="affiliates-measurements-title alternate-1">
                                    <span>
                                        Ganhos Mensal
                                    </span>
                                </div>
                                <span class="affiliates-measurements-value">R$ <span class="revshare-total-earnings">0,00</span></span>
                            </div>
                            <div class="affiliates-measurements-yinfo-item">
                                <div class="affiliates-measurements-title alternate-2">
                                    <span>
                                        Ganhos Total
                                    </span>
                                </div>
                                <span class="affiliates-measurements-value">R$ <span class="revshare-total-earnings-month">0,00</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-close-popup bt-close-affiliates" data-type="affiliates-card">
        <span>x</span>
    </div>
</div>