{%extends "app-structure/original/originalStructure.html"%}
{%load static%}

{%block in_static%}
<meta charset="UTF-8">
   <meta http-equiv="content-type" content="text/html; charset=UTF8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="apple-mobile-web-app-capable" content="yes">
   <meta name="apple-mobile-web-app-status-bar-style" content="black">
   <meta name="viewport" content="height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui, viewport-fit=cover" />
   <style>
      .main-container{height:100vh !important;}
      #unity-container { position: absolute }
      #unity-container.unity-desktop {width: 100%; height:100vh;}
      #unity-container.unity-mobile { position: fixed; width: 100%; height: 100% }
      #unity-canvas { background: #231F20 }
      .unity-mobile #unity-canvas { width: 100%; height: 100% }
      #unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
      #unity-logo { width: 154px; height: 130px; background: url('{%static "image/game/unity-logo-dark.png"%}') no-repeat center }
      #unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('{%static "image/game/progress-bar-empty-dark.png"%}') no-repeat center }
      #unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('{%static "image/game/progress-bar-full-dark.png"%}') no-repeat center }
      #unity-footer { position: relative }
      .unity-mobile #unity-footer { display: none }
      #unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('{%static "image/game/webgl-logo.png"%}') no-repeat center }
      #unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
      #unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('{%static "image/game/fullscreen-button.png"%}') no-repeat center }
      #unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
      #close-video {cursor: pointer !important; user-select:none}
   </style>
{%endblock%}

{%block main-page%}
<input value="{{static_url}}" id="dynamicStaticFile" type="hidden" style="display:none;">
   <div>
      <div data-collapse="small" data-animation="default" data-duration="400" role="banner" class="navbar w-nav">
         <div class="container w-container">
            <a href="/" aria-current="page" class="brand w-nav-brand" aria-label="home">
               <img src="{%static 'image\app-structure\fruitCash\logo.png'%}" loading="lazy" height="28" alt="" class="image-6">
               <div class="nav-link logo">{{app_name}}</div>
            </a>
            <nav role="navigation" class="nav-menu w-nav-menu">
               <a href="/game" class="nav-link w-nav-link" style="max-width: 940px;">Jogar</a>
               <a href="/cashier/withdraw" class="nav-link w-nav-link" style="max-width: 940px;">Saque</a>
               <a href="/partnership" class="nav-link w-nav-link" style="max-width: 940px;">Link de Afiliado</a>
               <!--<a href="/referral" class="nav-link w-nav-link" style="max-width: 940px;">Indique um amigo</a>-->
               <a href="/auth/logout" class="nav-link w-nav-link" style="max-width: 940px;">Sair</a>
               <a href="/deposit" class="button nav w-button">Depositar</a>
            </nav>
            <div class="w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
               <div class="" style="-webkit-user-select: text;">
                  <a href="/deposit" class="menu-button w-nav-dep nav w-button">DEPOSITAR</a>
               </div>
            </div>
            <div class="menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
               <div class="icon w-icon-nav-menu"></div>
            </div>
         </div>
         <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
      </div>
      <div class="nav-bar">
         <a href="/game" class="link-block rarity w-inline-block">
            <div>Jogar</div>
         </a>
         <a href="/cashier/withdraw" class="link-block last w-inline-block">
            <div class="text-block-8">Saque</div>
         </a>
         <a href="/partnership" class="link-block last w-inline-block">
            <div class="text-block-8">Link de Afiliado</div>
         </a>
         <!--<a href="/referral" class="link-block last w-inline-block">
            <div class="text-block-8">Indique um amigo</div>
         </a>-->
         <a href="/auth/logout" class="link-block last w-inline-block">
            <div class="text-block-8">Sair</div>
         </a>
         <a href="/deposit" class="button w-button">Depositar</a>
      </div>
      <div id="unK50bCt2N" style="position: absolute; top: 100px; width: 100%; line-height: 26px; color: #fff; z-index: 10; text-align: center;">
         SALDO: <b>R$
         {{profile.balance.value}} </b>
      </div>
      <section id="hero" class="hero-section dark wf-section">
         <style>
            div.escudo {
            display: block;
            width: 247px;
            line-height: 65px;
            font-size: 12px;
            margin: -60px 0 0 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            filter: drop-shadow(1px 1px 3px #00000099) hue-rotate(0deg);
            }
            div.escudo img {
            width: 50px;
            margin: -10px 6px 0 0;
            }
            .container-bet-game{
               display: flex !important;
               flex-direction: row !important;
               justify-content: center !important;
               align-items: center !important;
   
            }
            .bet-game{
               margin: 0 !important;
               padding: 0 !important;
               background-color: transparent !important;
               border: none !important;
               outline: none !important;
            }
         </style>
         <div class="minting-container w-container">
            <div class="escudo">
               <img src="{%static 'image\app-structure\fruitCash\trophy.gif'%}">
            </div>
            <h2>INICIAR CORRIDA</h2>
            <p>
               Bem vindo ao {{app_name}}! 🕹 <br>
               Atinja a meta ✅<br>
               Saque suas moedas.🤑 <br>
            </p>
            <form data-name="" id="auth" method="post" aria-label="Form">
               <div class="properties">
                  <h4 class="rarity-heading">Valor de entrada</h4>
                  <div class="rarity-row roboto-type2 container-bet-game">
                     <span style="user-select:none;">R$ </span>
                     <input type="number" class="large-input-field w-node-_050dfc36-93a8-d840-d215-4fca9adfe60d-9adfe605 w-input bet-game" max="25" min="1" step="1" name="aposta" id="aposta" required="" value="5" data-gtm-form-interact-field-id="0">
                  </div>
               </div>
               <div class="">
                  <input value="Correr" class="primary-button w-button btn-confirm-bet"><br><br>
               </div>
            </form>
            <p>Você tem
               <span id="qtd-free-game">{{profile.user.game_test}}</span> tentativas!
            </p>
            <form data-name="" id="auth"  aria-label="Form">
               <div class="">
                  <input value="Testar" class="primary-button w-button btn-game-test"><br><br>
               </div>
            </form>
         </div>
         <div id="wins" style="
            display: block;
            width: 240px;
            font-size: 12px;
            padding: 5px 0;
            text-align: center;
            line-height: 13px;
            background-color: #FFC107;
            border-radius: 10px;
            border: 3px solid #1f2024;
            box-shadow: -3px 3px 0 0px #1f2024;
            margin: -24px auto 0 auto;
            z-index: 1000;
            ">...<br>&nbsp;</div>
      </section>
      <section id="mint" class="mint-section wf-section">
         <div class="minting-container w-container">
            <img src="{%static 'image\app-structure\fruitCash\money.png'%}" loading="lazy" width="240" alt="" class="mint-card-image">
            <h2>{{app_name}}</h2>
            <p class="paragraph">
               Bem-vindo ao mundo emocionante de {{app_name}}! Prepare-se para uma aventura eletrizante nos trilhos, onde cada curva guarda a promessa de fortuna. Desvie dos obstáculos, colete moedas reluzentes e desbloqueie novos percursos enquanto corre em busca da riqueza. Sua jornada pela cidade começa agora – acelere, desfrute e acumule sua fortuna nos trilhos de {{app_name}}!.
            </p>
            <a href="/deposit/" class="primary-button w-button" disabled>DEPOSITE E GANHE 100% BÔNUS</a>
         </div>
      </section>
      <div class="intermission wf-section">
         <div data-w-id="aa174648-9ada-54b0-13ed-6d6e7fd17602" class="center-image-block">
            <img src="{%static 'image\app-structure\fruitCash\60f8c4536d62687b8a9cee75_row%2001.svg'%}" loading="eager" alt="">
         </div>
         <div data-w-id="6d7abe68-30ca-d561-87e1-a0ecfd613036" class="center-image-block _2">
            <img src="{%static 'image\app-structure\fruitCash\60f8c453ca9716f569e837ee_row%2002.svg'%}" loading="eager" alt="">
         </div>
         <div data-w-id="e04b4de1-df2a-410e-ce98-53cd027861f6" class="center-image-block _2">
            <img src="{%static 'image\app-structure\fruitCash\60f8c453bf76d73ecbc14a1d_row%2003.svg'%}" loading="eager" alt="" class="image-3">
         </div>
      </div>
   </div>
   <div class="footer-section wf-section">
      <div class="domo-text"><br>{{app_name_split_1}} <br></div>
       <div class="domo-text purple">{{app_name_split_2}} <br></div>
      <div class="follow-test">© Copyright GTWC Limited, with registered
         offices at
         Dr. M.L. King
         Boulevard 117, accredited by license GLH-16286002012. 
      </div>
      <div class="follow-test">
         <a href="/legal">
         <strong class="bold-white-link">Termos de uso</strong>
         </a>
      </div>
      <div class="follow-test">{{app_email}}</div>
   </div>
   {%if profile.user.first_access%}
      <div style=" position: absolute; top:0; left:0; width: 100vw; height: 100vh; background: #000000cc; z-index: 10000;" id="container-video-intro">
         <div style=" position: fixed; top: 10px; right: 10px; color: #fff; font-size: 30px;" id="close-video">X</div>
         <video width="290" height="515" controls="" style=" display: block; margin: calc(50vh - 330px) auto 0 auto;" autoplay="autoplay" loop="">
            <source src="" type="video/mp4" id="video-intro">
         </video>
      </div>
   {%endif%}
   {%block scripts-page%}
      <script type="module" src='{%static "js/original/game-original-012.js"%}'></script>
      <script src="{%static 'js\app-structure\fruitCash\jquery.js'%}" type="text/javascript"></script>
      <script src="{%static 'js\app-structure\fruitCash\flow.js'%}" type="text/javascript"></script>
      <script>
         document.getElementById("close-video").addEventListener("click", function(){
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/first_access", true);
            xhr.send();
            document.getElementById("container-video-intro").style.display = "none";
            document.getElementById("video-intro").pause();

         });
      </script>
   {%endblock%}
{%endblock%}