{%extends "app-structure/original/originalStructure.html"%}
{%load static%}

{%block main-page%}
   <div>
      <div data-collapse="small" data-animation="default" data-duration="400" role="banner" class="navbar w-nav">
         <div class="container w-container">
            <a href="/" aria-current="page" class="brand w-nav-brand" aria-label="home">
               <img src="{%static 'image\app-structure\fruitCash\logo.png'%}" loading="lazy" height="28" alt="" class="image-6">
               <div class="nav-link logo">{{app_name}}</div>
            </a>
            <nav role="navigation" class="nav-menu w-nav-menu">
               <a href="/game" class="nav-link w-nav-link" style="max-width: 940px;">Jogar</a>
               <a href="/cashier/withdraw" class="nav-link w-nav-link" style="max-width: 940px;">Saque</a>
               <a href="/partnership" class="nav-link w-nav-link" style="max-width: 940px;">Link de Afiliado</a>
               <!--<a href="/referral" class="nav-link w-nav-link" style="max-width: 940px;">Indique um amigo</a>-->
               <a href="/auth/logout" class="nav-link w-nav-link" style="max-width: 940px;">Sair</a>
               <a href="/deposit" class="button nav w-button">Depositar</a>
            </nav>
            <div class="w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
               <div class="" style="-webkit-user-select: text;">
                  <a href="/deposit" class="menu-button w-nav-dep nav w-button">DEPOSITAR</a>
               </div>
            </div>
            <div class="menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
               <div class="icon w-icon-nav-menu"></div>
            </div>
         </div>
         <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
      </div>
      <div class="nav-bar">
         <a href="/game" class="link-block rarity w-inline-block">
            <div>Jogar</div>
         </a>
         <a href="/cashier/withdraw" class="link-block last w-inline-block">
            <div class="text-block-8">Saque</div>
         </a>
         <a href="/partnership" class="link-block last w-inline-block">
            <div class="text-block-8">Link de Afiliado</div>
         </a>
         <!--<a href="/referral" class="link-block last w-inline-block">
            <div class="text-block-8">Indique um amigo</div>
         </a>-->
         <a href="/auth/logout" class="link-block last w-inline-block">
            <div class="text-block-8">Sair</div>
         </a>
         <a href="/deposit" class="button w-button">Depositar</a>
      </div>
      <div id="unK50bCt2N" style="position: absolute; top: 100px; width: 100%; line-height: 26px; color: #fff; z-index: 10; text-align: center;">
         SALDO: <b>R$
         {{profile.balance.value}} </b>
      </div>
      <section id="hero" class="hero-section dark wf-section">
         <style>
            div.escudo {
            display: block;
            width: 247px;
            line-height: 65px;
            font-size: 12px;
            margin: -60px 0 0 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            filter: drop-shadow(1px 1px 3px #00000099) hue-rotate(0deg);
            }
            div.escudo img {
            width: 50px;
            margin: -10px 6px 0 0;
            }
         </style>
         <div class="minting-container w-container">
            <div class="escudo">
               <img src="{%static 'image\app-structure\fruitCash\trophy.gif'%}">
            </div>
            <h2>Cortar Frutas</h2>
            <p>Cada fruta tem um valor pré determinado, ao corta-la você coleta seu valor, e é melhor não deixar ela
               cair, #ficadica!
            </p>
            <form data-name="" id="auth" method="post" aria-label="Form">
               <div class="properties">
                  <h4 class="rarity-heading">Valor de entrada</h4>
                  <div class="rarity-row roboto-type2">
                     <input type="number" class="large-input-field w-node-_050dfc36-93a8-d840-d215-4fca9adfe60d-9adfe605 w-input bet-game" max="25" min="1" step="1" name="aposta" id="aposta" required="" value="5" data-gtm-form-interact-field-id="0">
                  </div>
               </div>
               <div class="">
                  <input value="Cortar" class="primary-button w-button btn-confirm-bet"><br><br>
               </div>
            </form>
            <p>Você tem
               0 tentativas!
            </p>
            <form data-name="" id="auth" method="post" aria-label="Form" action="/games/classic?mode=free">
               <div class="">
                  <input type="submit" value="Testar" class="primary-button w-button" disabled><br><br>
               </div>
            </form>
            <p>Valores para jogar: R$1.00 à R$25.00</p>
         </div>
         <div id="wins" style="
            display: block;
            width: 240px;
            font-size: 12px;
            padding: 5px 0;
            text-align: center;
            line-height: 13px;
            background-color: #FFC107;
            border-radius: 10px;
            border: 3px solid #1f2024;
            box-shadow: -3px 3px 0 0px #1f2024;
            margin: -24px auto 0 auto;
            z-index: 1000;
            ">...<br>&nbsp;</div>
      </section>
      <section id="mint" class="mint-section wf-section">
         <div class="minting-container w-container">
            <img src="{%static 'image\app-structure\fruitCash\money.png'%}" loading="lazy" width="240" alt="" class="mint-card-image">
            <h2>{{app_name}}</h2>
            <p class="paragraph">Bem-vindo ao mundo suculento e lucrativo de {{app_name}}, o joguinho que vai deixar
               você com água na boca e o bolso cheio! Prepare-se para uma experiência emocionante, onde suas
               habilidades de corte serão testadas e sua conta bancária pode crescer a cada fatia. 
            </p>
            <a href="/deposit/" class="primary-button w-button">DEPOSITE E GANHE 100% BÔNUS</a>
         </div>
      </section>
      <div class="intermission wf-section">
         <div data-w-id="aa174648-9ada-54b0-13ed-6d6e7fd17602" class="center-image-block">
            <img src="{%static 'image\app-structure\fruitCash\60f8c4536d62687b8a9cee75_row%2001.svg'%}" loading="eager" alt="">
         </div>
         <div data-w-id="6d7abe68-30ca-d561-87e1-a0ecfd613036" class="center-image-block _2">
            <img src="{%static 'image\app-structure\fruitCash\60f8c453ca9716f569e837ee_row%2002.svg'%}" loading="eager" alt="">
         </div>
         <div data-w-id="e04b4de1-df2a-410e-ce98-53cd027861f6" class="center-image-block _2">
            <img src="{%static 'image\app-structure\fruitCash\60f8c453bf76d73ecbc14a1d_row%2003.svg'%}" loading="eager" alt="" class="image-3">
         </div>
      </div>
      <div id="rarity" class="rarity-section wf-section">
         <div class="rarity-chart">
            <h2 id="w-node-_77b18826-5ece-603f-84c7-b533054134f2-64dffed7" class="heading-2">Raridade</h2>
            <p id="w-node-_22f3c687-d779-5bd8-0162-218a2829e33a-64dffed7">Cada fruta possui um valor diferente que
               você
               pode ganhar ao cortá-la, confira nossa tabela.
            </p>
            <div class="div-block">
               <h3 class="rarity-heading">Tipos</h3>
               <div class="rarity-row">
                  <div class="rarity-number">Mais comum</div>
                  <div>Maçã</div>
               </div>
               <div class="rarity-row blue">
                  <div class="rarity-number">Menos Comum</div>
                  <div>Laranja</div>
               </div>
               <div class="rarity-row">
                  <div class="rarity-number">Raro</div>
                  <div>Kiwi</div>
               </div>
               <div class="rarity-row blue">
                  <div class="rarity-number">Super Raro</div>
                  <div>Dragão</div>
               </div>
               <img src="{%static 'image\app-structure\fruitCash\logo.png'%}special/60f9aca9b5309615808c507e_rarity.svg" loading="lazy" alt="" class="rarity-image">
            </div>
            <div>
               <h3 class="rarity-heading">Variações</h3>
               <div class="rarity-row blue">
                  <div class="rarity-number">R$0.05</div>
                  <div>Maçã</div>
               </div>
               <div class="rarity-row">
                  <div class="rarity-number">R$0.10</div>
                  <div>Maracuja</div>
               </div>
               <div class="rarity-row blue">
                  <div class="rarity-number">R$0.15</div>
                  <div>Melância</div>
               </div>
               <div class="rarity-row">
                  <div class="rarity-number">R$0.20</div>
                  <div>Manga</div>
               </div>
               <div class="rarity-row blue">
                  <div class="rarity-number">R$0.25</div>
                  <div>Abacate</div>
               </div>
               <div class="rarity-row">
                  <div class="rarity-number">R$0.30</div>
                  <div>Mamão</div>
               </div>
               <div class="rarity-row blue">
                  <div class="rarity-number">R$0.35</div>
                  <div>Banana</div>
               </div>
               <div class="rarity-row">
                  <div class="rarity-number">R$0.40</div>
                  <div>Limão</div>
               </div>
               <div class="rarity-row blue">
                  <div class="rarity-number">R$0.45</div>
                  <div>Romã</div>
               </div>
               <div class="rarity-row">
                  <div class="rarity-number">R$0.50</div>
                  <div>Morango</div>
               </div>
               <div class="rarity-row blue">
                  <div class="rarity-number">R$0.75</div>
                  <div>Laranja</div>
               </div>
               <div class="rarity-row">
                  <div class="rarity-number">R$1.00</div>
                  <div>Kiwi</div>
               </div>
               <div class="rarity-row blue">
                  <div class="rarity-number">R$1.00</div>
                  <div>Dragão</div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="footer-section wf-section">
      <div class="domo-text">{{app_name_split_1}} <br></div>
       <div class="domo-text purple">{{app_name_split_2}} <br></div>
      <div class="follow-test">© Copyright GTWC Limited, with registered
         offices at
         Dr. M.L. King
         Boulevard 117, accredited by license GLH-16286002012. 
      </div>
      <div class="follow-test">
         <a href="/legal">
         <strong class="bold-white-link">Termos de uso</strong>
         </a>
      </div>
      <div class="follow-test">{{app_email}}</div>
   </div>
   {%block scripts-page%}
      <script type="text/javascript">
         var show = true;
   
         function showWins() {
            if (show) {
               $.post('https://fruitcash.com/game/showwins', {
                     key: '3rfgg05ls1vl95Fl4E3'
               }, function(data) {
                     if (data.indexOf('unK50bCt2N') == -1) {
                        $('#wins').html(data);
                     }
               });
               show = false;
            } else {
               $('#wins').html('...<br>&nbsp;');
               show = true;
            }
         }
   
         var lastRank = 'fuitcash';
   
         setInterval('showWins()', 3000);
      </script>
      <script type="module" src='{%static "js/original/game-min-2-0939.js"%}'></script>
      <script src="{%static 'js\app-structure\fruitCash\jquery.js'%}" type="text/javascript"></script>
      <script src="{%static 'js\app-structure\fruitCash\flow.js'%}" type="text/javascript"></script>
   {%endblock%}
{%endblock%}