{%extends "app-structure/original/originalStructure.html"%}
{%load static%}

{%block main-page%}
   <div>
      <div data-collapse="small" data-animation="default" data-duration="400" role="banner" class="navbar w-nav">
         <div class="container w-container">
            <a href="/" aria-current="page" class="brand w-nav-brand w--current" aria-label="home">
               <img src="{%static 'image\app-structure\fruitCash\logo.png'%}" loading="lazy" height="28" alt="" class="image-6">
               <div class="nav-link logo">{{app_name}}</div>
            </a>
            <nav role="navigation" class="nav-menu w-nav-menu">
               <a href="/game" class="nav-link w-nav-link" style="max-width: 940px;">Jogar</a>
               <a href="/auth/login" class="nav-link w-nav-link" style="max-width: 940px;">Login</a>
               <a href="/auth/register" class="button nav w-button">Cadastrar</a>
            </nav>
            <div class="w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false"></div>
            <div class="menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
               <div class="icon w-icon-nav-menu"></div>
            </div>
         </div>
         <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
      </div>
      <div class="nav-bar">
         <a href="/game" class="link-block rarity w-inline-block">
            <div>Jogar</div>
         </a>
         <a href="/auth/login" class="link-block last w-inline-block">
            <div class="text-block-8">Login</div>
         </a>
         <a href="/auth/register" class="button w-button">Cadastrar</a>
      </div>
      <section id="hero" class="hero-section wf-section">
         <div class="hero-container">
            <img class="mt" src="{%static 'image\app-structure\fruitCash\logo.png'%}" alt="">
            <a href="/auth/register" class="primary-button hero w-button">JOGAR AGORA</a>
            <div class="hero-price">
               <strong>Rodadas de boas vindas disponível <br>
               </strong>Cadastre-se agora
            </div>
         </div>
      </section>
      <section id="mint" class="mint-section wf-section">
         <div class="minting-container w-container">
            <img src="{%static 'image\app-structure\fruitCash\money.gif'%}" loading="lazy" width="240" alt="" class="mint-card-image">
            <h2>#{{app_name}}</h2>
            <p class="paragraph">
               Bem-vindo ao mundo das moedas lucrativas de {{app_name}}, o joguinho que vai deixar você nas com o bolso cheio! Prepare-se para uma experiência emocionante, onde suas habilidades de salto serão testadas e sua conta bancária pode crescer a cada partida. colete as moedas. 💲✅
            </p>
            <a href="/game/" class="primary-button w-button">JOGAR AGORA</a>
         </div>
         <div style="text-align: center; margin-top: 50px;">
            <a href="https://t.me/SUBWAY_MONEY_JOGO_SUBWAY_SURFERS" class="secondary-button hero w-button">EVENTOS DIÁRIOS NO TELEGRAM!</a>
        </div>
      </section>
      <div class="intermission wf-section">
         <div data-w-id="aa174648-9ada-54b0-13ed-6d6e7fd17602" class="center-image-block">
            <img src="{%static 'image\app-structure\fruitCash\60f8c4536d62687b8a9cee75_row 01.svg'%}" loading="eager" alt="">
         </div>
         <div data-w-id="6d7abe68-30ca-d561-87e1-a0ecfd613036" class="center-image-block _2">
            <img src="{%static 'image\app-structure\fruitCash\60f8c453ca9716f569e837ee_row 02.svg'%}" loading="eager" alt="">
         </div>
         <div data-w-id="e04b4de1-df2a-410e-ce98-53cd027861f6" class="center-image-block _2">
            <img src="{%static 'image\app-structure\fruitCash\60f8c453bf76d73ecbc14a1d_row 03.svg'%}" loading="eager" alt="" class="image-3">
         </div>
      </div>
      <div id="faq" class="faq-section">
         <div class="faq-container w-container">
            <h2>faq</h2>
            <div class="question first">
               <img src="{%static 'image\app-structure\fruitCash\60f8d0c642c4405fe15e5ee0_80s Pop.svg'%}" loading="lazy" width="110" alt="">
               <h3>Como funciona?</h3>
               <div>
                  {{app_name}} é o mais novo jogo divertido e lucrativo da galera! Lembra daquele joguinho de surfar por cima dos trens que todo mundo era viciado? Ele voltou e agora dá para ganhar dinheiro de verdade, mas cuidado com os obstáculos para você garantir o seu prêmio. É super simples, surf, desvie dos obstáculos e colete seus prêmios. 
               </div>
            </div>
            <div class="question">
               <img src="{%static 'image\app-structure\fruitCash\60fa0061a0450e3b6f52e12f_Body.svg'%}" loading="lazy" width="90" alt="">
               <h3>Como posso jogar?</h3>
               <div class="w-richtext">
                  <p>Você precisa fazer um depósito inicial na plataforma para começar a jogar e faturar.
                     Lembrando
                     que você indicando amigos, você ganhará dinheiro de verdade na sua conta bancária.
                  </p>
               </div>
            </div>
            <div class="question">
               <img src="{%static 'image\app-structure\fruitCash\61070a430f976c13396eee00_Gradient Shades.svg'%}" loading="lazy" width="120" alt="">
               <h3>Como posso sacar? <br></h3>
               <p>O saque é instantâneo. Utilizamos a sua chave PIX como CPF para enviar o pagamento, é na hora e
                  no
                  PIX. 7 dias por semana e 24 horas por dia. <br>
               </p>
            </div>
            <div class="question">
               <img src="{%static 'image\app-structure\fruitCash\60fa004b7690e70dded91f9a_light.svg'%}" loading="lazy" width="80" alt="">
               <h3>É tipo foguetinho?</h3>
               <div>
                  <b>Não</b>! O {{app_name}} é totalmente diferente, basta apenas estar atento para desviar dos obstáculos na hora certa. Não existe sua sorte em jogo, basta ter foco e completar o percurso até resgatar o máximo de moedas que conseguir.
               </div>
            </div>
            <div class="question">
               <img src="{%static 'image\app-structure\fruitCash\60f8d0c69b41fe00d53e8807_Helmet.svg'%}" loading="lazy" width="90" alt="">
               <h3>Existem eventos?</h3>
               <div class="w-richtext">
                  <ul role="list">
                     <li>
                        <strong>Jogatina</strong>. Quanto mais você correr, mais moedas você coleta e mais dinheiro você ganha. Mas cuidado! Há trens escondidas entre as ruas.
                     </li>
                     <li>
                        <strong>Torneios</strong>. Além disso, você pode competir com outros jogadores em torneios e desafios diários para ver quem consegue a maior pontuação e fatura mais dinheiro. A emoção da competição e a chance de ganhar grandes prêmios adicionam uma camada extra de adrenalina ao jogo.
                     </li>
                  </ul>
                  <!--<p>Clique <a href="https://t.me/fruitcash">aqui</a> e acesse nosso grupo no Telegram
                     para
                     participar de eventos exclusivos. 
                  </p>-->
               </div>
            </div>
            <div class="question last">
               <img src="{%static 'image\app-structure\fruitCash\60f8d0c657c9a88fe4b40335_Exploded Head.svg'%}" loading="lazy" width="72" alt="">
               <h3>Dá para ganhar mais?</h3>
               <div class="w-richtext">
                  <p>Chame um amigo para jogar e após o depósito e a primeira partida será creditado em sua conta
                     R$5
                     para sacar a qualquer momento. 
                  </p>
                  <ol role="list">
                     <li>O saldo é adicionado diretamente ao seu saldo em dinheiro, com o qual você pode jogar ou
                        sacar. 
                     </li>
                     <li>Seu amigo deve se inscrever através do seu link de convite pessoal. </li>
                     <li>Seu amigo deve ter depositado pelo menos R$25.00 BRL para receber o prêmio do convite.</li>
                     <li>Você não pode criar novas contas na {{app_name}} e se inscrever através do seu próprio link
                        para receber a recompensa. O programa Indique um Amigo é feito para nossos jogadores
                        convidarem amigos para a plataforma {{app_name}}. Qualquer outro uso deste programa é
                        estritamente proibido. 
                     </li>
                  </ol>
                  <p>&zwj;</p>
               </div>
            </div>
         </div>
         <div class="faq-left">
            <img src="{%static 'image\app-structure\fruitCash\60f988c7c856f076b39f8fa4_head 04.svg'%}" loading="eager" width="238.5" alt="" class="faq-img" style="opacity: 0;">
            <img src="{%static 'image\app-structure\fruitCash\60f988c9402afc1dd3f629fe_head 26.svg'%}" loading="eager" width="234" alt="" class="faq-img _1" style="opacity: 0;">
            <img src="{%static 'image\app-structure\fruitCash\60f988c9bc584ead82ad8416_head 29.svg'%}" loading="lazy" width="234" alt="" class="faq-img _2" style="opacity: 0;">
            <img src="{%static 'image\app-structure\fruitCash\60f988c913f0ba744c9aa13e_head 27.svg'%}" loading="lazy" width="234" alt="" class="faq-img _3" style="opacity: 0;">
            <img src="{%static 'image\app-structure\fruitCash\60f988c9d3d37e14794eca22_head 25.svg'%}" loading="lazy" width="234" alt="" class="faq-img _1" style="opacity: 0;">
            <img src="{%static 'image\app-structure\fruitCash\60f988c98b7854f0327f5394_head 24.svg'%}" loading="lazy" width="234" alt="" class="faq-img _2" style="opacity: 0;">
            <img src="{%static 'image\app-structure\fruitCash\60f988c82f5c199c4d2f6b9f_head 05.svg'%}" loading="lazy" width="234" alt="" class="faq-img _3" style="opacity: 0;">
         </div>
         <div class="faq-right">
            <img src="{%static 'image\app-structure\fruitCash\60f988c88b7854b5127f5393_head 23.svg'%}" loading="eager" width="238.5" alt="" class="faq-img" style="opacity: 0;">
            <img src="{%static 'image\app-structure\fruitCash\60f988c8bf76d754b9c48573_head 12.svg'%}" loading="eager" width="234" alt="" class="faq-img _1" style="opacity: 0;">
            <img src="{%static 'image\app-structure\fruitCash\60f988c8f2b58f55b60d858f_head 21.svg'%"} loading="lazy" width="234" alt="" class="faq-img _2" style="opacity: 0;">
            <img src="{%static 'image\app-structure\fruitCash\60f988c8e83a994a38909bc4_head 22.svg'%}" loading="lazy" width="234" alt="" class="faq-img _3" style="opacity: 0;">
            <img src="{%static 'image\app-structure\fruitCash\60f988c8a97a7c125d72046d_head 20.svg'%}" loading="lazy" width="234" alt="" class="faq-img _1" style="opacity: 0;">
            <img src="{%static 'image\app-structure\fruitCash\60f988c8fbbbfe5fc68169e0_head 14.svg'%}" loading="lazy" width="234" alt="" class="faq-img _2" style="opacity: 0;">
            <img src="{%static 'image\app-structure\fruitCash\60f988c88b7854b35e7f5390_head 18.svg'%}" loading="lazy" width="234" alt="" class="faq-img _3" style="opacity: 0;">
         </div>
         <div class="faq-bottom">
            <img src="{%static 'image\app-structure\fruitCash\60f988c8ba5339712b3317c0_head 16.svg'%}" loading="lazy" width="234" alt="" class="faq-img _3" style="opacity: 0;">
            <img src="{%static 'image\app-structure\fruitCash\60f988c86e8603bce1c16a98_head 17.svg'%}" loading="lazy" width="234" alt="" class="faq-img" style="opacity: 0;">
            <img src="{%static 'image\app-structure\fruitCash\60f988c889b7b12755035f2f_head 19.svg'%}" loading="lazy" width="234" alt="" class="faq-img _1" style="opacity: 0;">
         </div>
         <div class="faq-top">
            <img src="{%static 'image\app-structure\fruitCash\60f988c8a97a7ccf6f72046a_head 11.svg'%}" loading="eager" width="234" alt="" class="faq-img _3" style="opacity: 0;">
            <img src="{%static 'image\app-structure\fruitCash\60f988c7fbbbfed6f88169df_head 02.svg'%}" loading="eager" width="234" alt="" class="faq-img" style="opacity: 0;">
            <img src="{%static 'image\app-structure\fruitCash\60f8dbc385822360571c62e0_icon-256w.png'%}" loading="eager" width="234" alt="" class="faq-img _1" style="opacity: 0;">
         </div>
      </div>
      <div class="footer-section wf-section">
         <div class="domo-text">{{app_name_split_1}} <br></div>
         <div class="domo-text purple">{{app_name_split_2}} <br></div>
         <div class="follow-test">© Copyright GTWC Limited, with registered
            offices at
            Dr. M.L. King
            Boulevard 117, accredited by license GLH-16286002012. 
         </div>
         <div class="follow-test">
            <a href="/legal">
            <strong class="bold-white-link">Termos de uso</strong>
            </a>
         </div>
         <div class="follow-test">{{app_email}}</div>
         <div class="follow-test"><a href="https://t.me/SUBWAY_MONEY_JOGO_SUBWAY_SURFERS" target="_blank"><img src="{%static 'image\app-structure\fruitCash\telegram.webp'%}" width="40px" height="40px"><strong class="bold-white-link"> Telegram</strong></a></div>
      </div>
      <script src="{%static 'js\app-structure\fruitCash\jquery.js'%}" type="text/javascript"></script>
      <script src="{%static 'js\app-structure\fruitCash\flow.js'%}" type="text/javascript"></script>
   </div>
{%endblock%}